<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        
        <!-- 
        <property name="connection.url">jdbc:mysql://localhost/diswah?autoReconnect=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1</property>
		-->
		
        <property name="connection.url">jdbc:mysql://201.54.201.3/DBMY_93118?autoReconnect=true</property>
        <property name="connection.username">DBMY_93118</property>
        <property name="connection.password">aok302dws</property>
		
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Names the annotated entity class -->
        <mapping class="br.furb.diswah.model.Classification"/>
        <mapping class="br.furb.diswah.model.Client"/>
        <mapping class="br.furb.diswah.model.Product"/>
        <mapping class="br.furb.diswah.model.Sale"/>
        <mapping class="br.furb.diswah.model.SaleProduct"/>
        <mapping class="br.furb.diswah.model.User"/>
         

    </session-factory>

</hibernate-configuration>